:host {
  display: block;
}

header {
  height: 500px;
  background-image: url("https://external-preview.redd.it/OChPW2Qg4Y0suZQAosIrXwm5t91SZIILbXSU9-g0QME.png?width=1080&crop=smart&auto=webp&s=013e00d4cd5c8722950528e2a30b3923dbc460ed");
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
}
