<header>
  <div class="container py-5 px-5">
    <div class="row my-5">
      <div class="col-sm">
        <h1 class="text-white">This project is a fun and interactive built with <strong>Angular</strong></h1>
        <p className="text-white mb-5">
          It uses the public <a href="https://rickandmortyapi.com/" target="_blank" rel="noopener noreferrer">Rick and
            Morty
            API</a> to display detailed information about characters, locations, and episodes from the series.
        </p>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <button type="button" class="btn btn-success">
          <a routerLink="/characters" routerLinkActive="active" ariaCurrentWhenActive="page">
            All Characters</a>
        </button>
      </div>
    </div>
  </div>
</header>
<section class="py-5">
  <h1 class="text-center"> Main Characters </h1>

  {{mainCharacters.length}}

  <div class="d-flex p-5 justify-content-center gap-4">
    <div *ngFor="let c of mainCharacters; index as i" class="card" style="width: 18rem;">
      <img src="{{c.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{c.name}}</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aperiam facilis quos, quis
          dicta reiciendis repellendus libero aliquid excepturi doloribus eius magnam sequi numquam labore.</p>

        <a [routerLink]="['/character', c.id]">
          See Details Character</a>
      </div>
    </div>
  </div>
</section>
